@inherits Umbraco.Web.Macros.PartialViewMacroPage
@using Umbraco.Core.Models.PublishedContent
@using ContentModels = Umbraco.Web.PublishedModels;


@{
var root= Model.Content.Root();
var selection = root.FirstChildOfType("projectsOverview")
.Children()
.Where(x => x.HasValue("projectStatus") && x.GetProperty("projectStatus").Value<string>() == "Completed")
.OrderByDescending(x => x.CreateDate).
Take(5);

<div class="container">
<div class="row">
            @foreach (var item in selection)
            {
               
                <div class="card col-lg-3">
                      
                      @{
                var articleImage = item.Value<IPublishedContent>("Image");
                if (articleImage != null)
                {
                   
                     <img src="@articleImage.Url" alt="@articleImage.Url" class="card-img-top mt-2" style="height: 150px;">
                }
                }
                      <div class="card-body">
                        <h5 class="card-title">@item.Name</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <a href="#" class="btn btn-primary">Go somewhere</a>
                      </div>
                    </div>
            }
            </div>
             </div>
    

}


